html, body {
   background-color: #303841;
}

input {
   border-color: rgba(255,255,255, 0.2);
}

.break-bar {
   background-color: #3A4750;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255, 0.2);
}
